html {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/bg.png") repeat;
}

/* Page de login */
#login {
    margin: 10% auto auto;
    width: 251px;
    font:small-caption;
    font-size:16px;
}

#login h1 {
    cursor: default;
}

#form {
    width: inherit;
    text-align: center;
}

/* placeholders centrés */
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}
